<html ng-app="myapp">
<head>
  <title>Country Name Quiz</title>
  <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.10/angular.min.js"></script>
  <script type="text/javascript" src="app.js"></script>
  <script type="text/javascript" src="bower_components/angular-timer/app/js/timer.js"></script>
  <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body ng-controller="HomeCtrl">

  <div id="header" class="container">
    <h1>Name the Countries!</h1>
    <input ng-model="entry" placeholder="Enter guess here" ng-disabled="!timerRunning"><br>
    <timer autostart="false" interval="1000" countdown="600"/><h3>{{minutes}} minutes, {{seconds}} seconds.</h3></timer>
    <button class="btn btn-default" ng-show="timerRunning" ng-click="stopTimer()">Pause Game</button>
    <button class="btn btn-default" ng-hide="timerRunning" ng-click="startTimer()">Start Game</button>

    <button class="btn btn-default" ng-hide="showContinents" ng-click="showContinents = true">Show Continents</button>
    <button class="btn btn-default" ng-show="showContinents" ng-click="showContinents = false">Hide Continents</button>
  </div>

  <ul class="list-unstyled container">
    <h3>{{counter.total}} Countries Guessed</h3>
    <li ng-if="!showContinents" ng-repeat="country in countries | filter: {guessed: true} | orderBy: 'name'">{{country.name}}</li>
  </ul>

  <ul ng-if="showContinents" class="list-unstyled container">
    <h3 ng-if="counter.Europe">Europe: {{counter.Europe}}</h3>
    <li ng-repeat="country in countries | filter: {guessed: true, continent: 'Europe'} | orderBy: 'name'">{{country.name}}</li>
    <h3 ng-if="counter.Asia">Asia: {{counter.Europe}}</h3>
    <li ng-repeat="country in countries | filter: {guessed: true, continent: 'Asia'} | orderBy: 'name'">{{country.name}}</li>
    <h3 ng-if="counter['North America']">North America: {{counter['North America']}}</h3>
    <li ng-repeat="country in countries | filter: {guessed: true, continent: 'North America'} | orderBy: 'name'">{{country.name}}</li>
    <h3 ng-if="counter['South America']">South America: {{counter['South America']}}</h3>
    <li ng-repeat="country in countries | filter: {guessed: true, continent: 'South America'} | orderBy: 'name'">{{country.name}}</li>
  </ul>
</body>
</html>